    /* Fonts */
    /* Poppins Font, Bold48px, Medium18px, Regular18px link*/
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    
    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    /* Poller One Font Link */
    .poller-one-regular {
        font-family: "Poller One", serif;
        font-weight: 400;
        font-style: normal;
      }
      

    /*Porter Sans Block*/
    @font-face {
        font-family: 'PorterSansBlock';
        src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    /* Home */

        /*Navbar*/

        body {
            margin: 0;
            height: 10vh;
            background-image: url(../assets/images/homePageHeader.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            background-color: #45016d;
        }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffffb5;
        padding: 15px;
        border-radius: 30px;
    }
    .logo img {
        height: 40px;
        margin-left: 4%;
    }
    .navbar {
        display: flex;
        gap: 20px;
    }
    .navbar a {
        color: rgb(99, 99, 99);
        text-decoration: none;
        padding: 10px 20px;
    }
    .navMiddle {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        font-family: "Poppins", sans-serif;
    }
    

    .search-bar {
        display: flex;
        align-items: center;
        background: #ffffffb5;
        border-radius: 10px;
        padding: 10px 15px;
        gap: 10px;
        position: relative;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin-right: 3%;
    }

    .search-bar input {
        border: none;
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        flex: 1;
        background: transparent;
    }

    .search-bar .cart-icon {
        position: relative;
        cursor: pointer;
    }

    .search-bar .cart-icon img {
        width: 24px;
        height: 24px;
    }

    .search-bar .cart-icon .cart-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 600px) {
        .menu {
            flex-direction: column;
            align-items: center;
        }
        .navbar {
            flex-direction: column;
            gap: 10px;
        }
    }


    /* Company Introduction */

    .head-words {
        
        font-family: 'PorterSansBlock', sans-serif;
        font-size: 3.5rem;
        color: #ff0000;
        text-align: left;
        padding-left: 10%;
        margin-top: 65%;
        width: 100%;
    }

    .head-words2 {
        
        font-family: "Poller One", serif;
        font-size: 1rem;
        color: #7700ff;
        text-align: left;
        padding-left: 10%;
        width: 100%;
    }

    .hero-section {
        width: 100vw; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        margin-top: 5%;
    }
    
    .hero-section .container {
        width: 90%;
    }
    
    .hero-section .row {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%;
    }
    
    .carousel-inner img {
        width: 609px;
        height: 649px;
        object-fit: cover;
    }
    
    #carouselExample {
        border-radius: 20px;
        overflow: hidden;
    }
    
    .carousel-inner img {
        border-radius: 20px;
    }

    .carousel {
        width: 150%;
        margin-left: 80px;
    }

    .booking-section {
        width: 70%;
        text-align: left!important;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
        color: #55daeb;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        margin-bottom: 20px;
        color: #ffffff;
    
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-bottom: 20px;

    }
    
    .btn {
        background-color: #e51728;
        padding: 20px;
        width: 50%!important;
        border: none;
    }

    /* Our Shuttles */
    .shuttle-background {
        background-color: #ffffff;
        width: 100%;
        height: auto;
    }    

    .shuttles {
        padding: 5%;
    }

    .shuttle-text {
        margin-left: 10%;
        width: 70%;
    }

    .travel-style-text {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }

    .shuttles h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
        color: #55daeb!important;
    }

    .shuttles h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        margin-bottom: 20px;
        color:#45016d;
    }

    .card {
        background-color: #45016d00;
        border: #45016d00;
        color: #ffffff;
        text-align: center;
    }
    
    #contact{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-secondary {
        background-color: #e51728;
        padding: 20px;
        width: 50%!important;
        border: none;
    }

    .divbuttoncenter {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    #upcoming-trips {
        margin-top: 2%;
    }

/* Footer */

.footer {
    background-color: #fff;
    background-size: cover;
    color: #333;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding: 40px 0;
}

.footer-middle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.footer-container {
    margin: 0 auto;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
}


.footer-logo, .footer-middle, .social-links {
    flex: 1;
    min-width: 200px;
}

.footer-logo img {
    width: 266px;
    height: 48px;
}

.footer-logo p {
    font-size: 14px;
    margin-top: 10px;
}

.footer-middle ul {
    list-style-type: none;
    padding: 0;
}

.footer-middle h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-middle li {
    margin-bottom: 10px;
}

.footer-middle a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.footer-middle a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    width: 77px;
    height: 77px;
}

.divider {
    height: 1px;
    background-color: #ddd;
    width: 100%;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
    width: 100%;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    margin-left: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}



    /* Flights */

    .flights-page {
        background-color: #45016d;
        background-image: none;
    }

    .card img {
        height: 200px;
        object-fit: cover;
    }

    .price {
        font-size: 1.2rem;
        color: #d9534f;
    }

    .btn-primary {
        width: 100%;
    }

    .header-banner {
        background-image: url("../assets/images/headerbackBack.png");         background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 33vh; 
        width: 100%;
    }


    .header-container {
        position: relative;
        width: 100%;
    }


    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        z-index: 10; 
        background: rgba(255, 255, 255, 0.7); 
        padding: 15px;
    }


    .header-banner {
        position: relative;
        background-image: url('../assets/images/headerbackBack.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .filter-section {
        color:#fff;
    }


    h4 {
        font-family: 'PorterSansBlock', sans-serif;
        font-size: 3.5rem;
        color: #ffffff;
        text-align: center;
        margin-top: 10%;
        width: 100%;
    }


    .flights-pictures {
        width: 609px;
        height: 649px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flights-pictures img {
        width: 609px;
        height: 649px;
        object-fit: cover;
        border-radius: 30px;
    }

    .flights-list-section135 {
        background-color: #ffffff;
        padding: 5%;
    }

    .title135 {
        font-family: "Poppins", sans-serif;
    }

    .flights-list-section246 {
        background-color: #45016d;
        color: #ffffff;
        padding: 5%;
    }

    .title246 {
        font-family: "Poppins", sans-serif;
        color: #ffffff;
    }

    .price135 {
        font-family: "Poppins", sans-serif;
        color: #858585;
    }
    
    .price246 {
        font-family: "Poppins", sans-serif;
        color: #55daeb;
    }













    /* Contact */

    .contact-page {
        background-image: url(../assets/images/headerbackBack.png);
    }

    h2 {
        margin-bottom: 20px;
    }

    .container {
        max-width: 900px;
    }

    ul {
        padding-left: 0;
    }

    ul li {
        margin-bottom: 10px;
    }